nbproject/
*.log
server/out/obj/
server/out/run
panels/cache/
panels/content/

# External packages
node_modules/
bower_components/
vendor/
panels/appfiles/libs/phpexcel

# Dispatcher app build
panels/www/res/dispatcher/dispatcher.js
panels/www/res/dispatcher/dispatcher.css
