nbproject/
*.log
server/out/obj/
server/out/run
panels/cache/
panels/content/

# External packages
node_modules/
bower_components/
vendor/
panels/appfiles/libs/phpexcel

# Generated assets
www/res/dispatcher/dispatcher.js
www/res/dispatcher/dispatcher.css
www/res/service/*.js
